version: 2
jobs:    
  build:
    docker:
      - image: bitnami/laravel
    working_directory: ~/repo
    steps:
      - checkout
      - run: sudo add-apt-repository ppa:chromium-daily/stable && sudo apt-get update
      - run: sudo apt-get install -y chromium-browser
      - run: sudo apt-get update
      - run: sudo apt-get install -y sqlite3 libsqlite3-dev
      - run: composer global require "squizlabs/php_codesniffer=3.2.3"
      - run: find ~/ \( -path ./vendor -o -path ./storage -o -path ./node_modules \) -prune -o -name "*.php" -print0 | xargs -0 -n1 -P8 php -l
      - run: ~/.composer/vendor/bin/phpcs -v .
      - run: cp .env.testing .env
      - run: composer install -n --ignore-platform-reqs
      - run: npm install
      - run: npm run production
      - run: php artisan migrate:fresh --seed --force --env=testing
      - run: vendor/bin/phpunit --testdox
      - run:
          name: Start Chrome Driver
          command: sudo ~/.composer/vendor/laravel/dusk/bin/chromedriver-linux --port=9515
          background: true
      - run:
          name: Run Laravel Server
          command: php artisan serve
          background: true
      - run:
          name: Run Laravel Dusk Tests
          command: php artisan dusk