version: 2
jobs:    
  build:
    docker:
      - image: bitnami/laravel
    working_directory: ~/repo
    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt-get install -y wget fonts-liberation libappindicator3-1 libasound2 libatk-bridge2.0-0 libatk1.0-0 libcairo2 libcups2 libdbus-1-3 libexpat1
      - run: wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add - 
      - run: wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb && (sudo dpkg -i google-chrome*.deb || exit 0)
      - run: sudo apt-get install -y -f
      - run: sudo apt-get update
      - run: sudo apt-get install -y sqlite3 libsqlite3-dev
      - run: composer global require "squizlabs/php_codesniffer=3.2.3"
      - run: find ~/ \( -path ./vendor -o -path ./storage -o -path ./node_modules \) -prune -o -name "*.php" -print0 | xargs -0 -n1 -P8 php -l
      - run: ~/.composer/vendor/bin/phpcs -v .
      - run: cp .env.testing .env
      - run: composer install -n --ignore-platform-reqs
      - run: npm install
      - run: npm run production
      - run: php artisan migrate:fresh --seed --force --env=testing
      - run: vendor/bin/phpunit --testdox
      - run:
          name: Start Chrome Driver
          command: sudo ~/.composer/vendor/laravel/dusk/bin/chromedriver-linux --port=9515
          background: true
      - run:
          name: Run Laravel Server
          command: php artisan serve
          background: true
      - run:
          name: Run Laravel Dusk Tests
          command: php artisan dusk